* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(136deg, #375dff, #1e9df4);
  font-family: 'Segoe UI', sans-serif;
}